

  

<!-- Sidebar -->
<aside class="bg-[#F5F6FA] fixed top-16 left-0 w-64 h-[calc(100vh-4rem)] bg-white border-r p-4 flex flex-col">

    <nav class="space-y-2">

        <!-- ACTIVE -->
        <a href="#"
           class="flex items-center gap-3 px-4 py-2 border border-0  border-l-4  border-accent bg-white text-accent rounded-lg font-medium">

            <img src="./assets/order.png"/>
            Orders
        </a>

        <a href="../document.html"
           class="flex items-center gap-3 px-4 py-2 text-gray-600 hover:bg-gray-100 rounded-lg">

            <img src="./assets/document.png"/>
            Documents
        </a>

        <a href="../messaging.html"
           class="flex items-center gap-3 px-4 py-2 text-gray-600 hover:bg-gray-100 rounded-lg">

            <img src="./assets/chat.png"/>
            Messages
        </a>

        <a href="../notification.html"
           class="flex items-center gap-3 px-4 py-2 text-gray-600 hover:bg-gray-100 rounded-lg">

            <img src="./assets/notification.png"/>
            Notification
        </a>

        <a href="../profile.html"
           class="flex items-center gap-3 px-4 py-2 text-gray-600 hover:bg-gray-100 rounded-lg">

            <img src="./assets/notification.png"/>
            Profile
        </a>
    </nav>

    <!-- Bottom icons -->
    <div class="mt-auto flex gap-4 text-gray-400 pt-6 border-t">
        <img src="./assets/exit.png"/>
        <img src="./assets/settings.png"/>
    </div>

</aside>


  <!-- ================= JS ================= -->
  <script>
    const sidebar = document.getElementById("sidebar");
    const openBtn = document.getElementById("openSidebar");

    openBtn.addEventListener("click", () => {
      sidebar.classList.toggle("-translate-x-full");
    });
  </script>

</body>